html
  head
    title Node.js App
    style
      include style.css
  body
    h1 Hello #{username}
    h3 Today is #{date}
    div
      p Hostname: #{hostname}
      p Type: #{type}
      p Release: #{release}
      p Platform: #{platform}